<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.webrtc.ecl.ntt.com/skyway-4.3.0.js"></script>
  <title>SkyWayチュートリアル</title>
</head>
<body>
 <video id="my-video" width="400px" autoplay muted playsinline></video>
 <script>
    let localStream;

    navigator.mediaDevices.getUserMedia({video: true, audio: true})
      .then( stream => {
        const videoElm = document.getElementById('my-video');
        videoElm.srcObject = stream;
        videoElm.play();
        localStream = stream;
      }).catch( error => {
        console.error('mediaDevice.getUserMedia() error:', error);
        return;
      });
 </script>
</body>
</html>
